{% extends 'base_user.html' %}
{% load crispy_forms_tags %}


{% block header %}
    <ul class="navbar-nav">

        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown07XL" data-toggle="dropdown" aria-expanded="false">{{ user.get_username }}</a>
          <div class="dropdown-menu " aria-labelledby="dropdown07XL">
            <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
            <a class="dropdown-item" href="{% url 'password_change' %}">Сменить пароль</a>
          </div>
        </li>
       <li class="nav-item active">
        <a class="nav-link" href="{% url 'suspect_list' %}">Главная <span class="sr-only">(current)</span></a>
      </li>

        <li class="nav-item active">
        <a class="nav-link" href="{% url 'searchface' %}">Найти по фото <span class="sr-only">(current)</span></a>
      </li>
    </ul>
{% endblock %}


{% block main %}
<div class="card">
<div class="card-body">
<h4 class="card-title">Добавление новой личности в базу данных</h4>

<form action="" method="post" enctype="multipart/form-data" >{% csrf_token %}

{{ form|crispy }}

    <input type="submit" value="Добавить" class="btn btn-primary btn-block">
</form>
</div>
</div>
{% endblock %}


